@import '/material-icons.styl'
*
  box-sizing: border-box

body
  margin: 0
  padding: 0

.theme.light
  --background: #fdf6e3
  --foreground: #1f2939
  --app-background: #fdf6e3
  --darker-background: #0000000F
  --lighter-background: #0000001F
  --accent: #556db1
  --secondary: #545454
  --warning: #ff6b6b
  --buttonForeground: #ffffff

.theme.dark
  --background: #10151d
  --foreground: #ffffff
  --app-background: #171f2b
  --darker-background: rgba(0, 0, 0, 0.3)
  --lighter-background: rgba(255, 255, 255, 0.1)
  --accent: #a87ffb
  --secondary: #353535
  --warning: #ff4c4c
  --buttonForeground: #ffffff

.theme
  font-family: "Roboto Mono", monospace
  font-size: 16px
  background-color: var(--app-background)
  color: var(--foreground)
  transition: background-color 0.3s ease, color 0.3s ease

.app
  min-height: 100vh
  display: grid
  grid-template-columns: 1fr 50px
  grid-template-rows: 1fr 50px
  grid-template-areas:\
    "content sidebar"\
    "footer footer"
  gap: 0
  padding: 0

.content, .footer, .sidebar
  border-radius: 0

.icon
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

/* regions */
.sidebar
  font-weight: 300
  grid-area: sidebar
  padding: 4px
  min-height: 0
  overflow: hidden
  position: fixed
  right: 0

  ul
    list-style: none
    padding: 0
    margin: 0
  li
    width: 42px
    position: relative
  .item
    display: flex
    align-items: center
    padding: 10px 8px
    border-radius: 4px
    z-index: 10

    .icon:hover
      cursor: pointer
      & + .label
        opacity: 0.6
    span
      opacity: 0.6
    .label
      font-size: 14px
      position: fixed
      right: 60px
      text-align: right
      width: 110px
      pointer-events: none
      margin-left: 8px
      opacity: 0
      transition: opacity 0.2s ease-in-out

/* main content area */
.content
  grid-area: content
  padding: 50px 100px
  min-height: 0
  overflow: auto
  outline: none
  caret-color: var(--accent)
  scroll-behavior: smooth
  max-height: calc(70vh)
  // disable scrollbars
  &::-webkit-scrollbar
    display: none
  -ms-overflow-style: none
  scrollbar-width: none
  & > *
    transition: opacity 0.3s ease-in-out
  .dimmed
    opacity: 0.2

/* footer */
.footer
  grid-area: footer
  display: flex
  align-items: center
  justify-content: center
  padding: 4px 0
  border-top: 1px solid var(--lighter-background)
  font-size: 14px
  .icon
    cursor: pointer
  span
    opacity: 0.4
  input
    width: 50px
    opacity: 0.4
    &.timeset
      width: 80px

input
  background-color: transparent
  font-family: "Roboto Mono", monospace
  border: none
  color: var(--foreground)
  padding: 4px 8px
  border-radius: 4px
  // width: 80px
  text-align: center
  &:focus
    outline: none
    box-shadow: 0 0 5px var(--accent)

.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  display: flex
  align-items: center
  justify-content: center
  z-index: 1000
  font-size: 16px

  &.active
    display: flex

  strong
    color: var(--accent)
  ul
    list-style: none
    padding: 0
    margin: 0

  .modal-content
    min-width: 50%
    background-color: var(--app-background)
    padding: 20px
    border-radius: 8px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    max-width: 90%
    max-height: 90%
    overflow: auto
  .title
    font-size: 1.5em
    color: var(--accent)
    font-weight: 800
    margin-bottom: 10px
  .buttons
    display: flex
    justify-content: space-between
    flex-direction: row-reverse
    margin-top: 20px
    button
      color: var(--buttonForeground)
      border: none
      padding: 10px 20px
      border-radius: 4px
      cursor: pointer
      font-size: 1em
      opacity: 0.5
      transition: opacity 0.2s ease-in-out
      &:hover
        opacity: 1
      &.primary
        background-color: var(--accent)
      &.secondary
        background-color: var(--secondary)
      &.warning
        background-color: var(--warning)

/* responsive: stack on small screens */
@media (max-width: 768px)
  .app
    grid-template-columns: 1fr
    grid-template-rows: 50px 1fr auto
    grid-template-areas:\
      "sidebar"\
      "content"\
      "footer"

  .sidebar
    position: fixed
    ul
      display: flex
      flex-direction: row
      li .item .label
        left: 10px
        text-align: left
