html
  head
    meta(charset="UTF-8")
    title Writer_
    link(rel="stylesheet" href="app.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap&family=Material+Symbols+Outlined" rel="stylesheet")
  body
    .app
      .sidebar
        ul
          li: .item
            span.material-symbols-outlined arrow_back_ios_new
            span.label Writer_
          for label, icon in menuItems
            li: .item
              span.material-symbols-outlined=icon
              span.label=label
      .content(contentEditable="true")
      .footer Footer information
    script.
      document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js?snipver=1"></'
        + 'script>')
